<template>

    <lightning-card title="Subscription Counts" icon-name="standard:chart">
    <!-- ##############Start of Chart  ###########-->  
    <div class="slds-p-around_medium"> 
        <article class="slds-box slds-timeline__item_details slds-theme_shade slds-m-top_x-small slds-m-horizontal_xx-small slds-p-around_medium" id="task-item-expanded" aria-hidden="false">
       <!--     <lightning-input value={strtsearchKey} type="Date" label="Start Date" onchange={handleStrtChange} name="input1"></lightning-input>
            <lightning-input value={endsearchKey} type="Date" label="End Date" onchange={handleEndChange} name="input2"></lightning-input>
          <div class="slds-p-top_medium">  <lightning-button variant="Brand" onclick={handleChartChange} label="Get Data" ></lightning-button></div> -->
            <canvas  lwc:dom="manual"></canvas>
        </article>
    </div> 
    </lightning-card>

</template>